<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, World</h1>
    <p>Lebron James is actually the goat guys</p>
    <div>
        <div>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1gF8EnsbcFBaYsNig7LhtN?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div>
            <img src="https://i.pinimg.com/736x/ed/de/89/edde897bf47591b076ebea01ca370bc8.jpg">
        </div>
    </div>
</body>
</html>